body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

/*
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: Beige;
	position: relative;
}

	nav {
		font-family: 'VT323', monospace;
		font-size: 26px;
	}
			
	footer {
		font-family: 'VT323', monospace;
		font-size: 24px;
		
		padding: 10px;
		background-color: cyan;
		color: black;
		text-align: center;
	}

		footer p {
			margin: 0;
		}
	*/
	